@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: rgb(178, 207, 159);
    padding: 2em;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    color: rgb(253, 253, 253);
}

.navbar-brand:hover{
    color: white;
}

.ContainerFooter{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(178, 207, 159);
}
.FatherFooter{
    width: 100%;
}
.HijoTituloFooter{
    width: 100%;

}
.HijoTituloFooter h3{
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    text-align: center;
}

.HijoListaFooter{
    display: flex;
    justify-content: center;
    width: 100%;

}
.HijoListaFooter ul{
    padding: 0;
}
.HijoListaFooter li{
    color: rgb(55, 77, 52);
    display: inline;
    padding: 1em;
    list-style: none;

}

.HijoCopyrightFooter{
    display: flex;
    justify-content: center;
}

.HijoCopyrightFooter p{
    border-top: 2px solid rgb(136, 168, 136);
    padding-top: 1em;
    color: rgb(55, 77, 52);
}


.PrimeraSeccion-main{
    width: 100%;
}
.ContainerPrimeraSeccion{
    display: flex;
    justify-content: center;
    width: 100%;
}

.PadrePrimeraSeccion{
    padding: 2em;
    width: 100%;
}

.HijoImagenes img{
    width: 50%;
    margin-left: 0.3em;
}

.HijoTituloTexto{
    height: 100%;
    background-color: rgb(99, 133, 86);
    display: flex;
    align-items: center;
}
.CajitaTituloTexto{ 
    padding: 1em;
}
.HijoTituloTexto h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.HijoTituloTexto p{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: white;
}


.SegundaSeccion-main{
    width: 100%;
    margin-top: 5em;
}

.ContainerSegundaSeccion{
    display: flex;
    justify-content: center;
    width: 100%;
}
.PadreSegundaSeccion{
    width: 50%;
}
.HijoImagenes2{
    display: flex;
    justify-content: center;
}
.HijoImagenes2 img{
    width: 80%;
}
.PadreSegundaSeccion2{
    width: 50%;
}
.HijoTituloTexto2{
    height: 100%;
    display: flex;
    align-items: center;
}
.CajitaTituloTexto2{
    padding: 1em;
    border-left: 3px solid rgb(184, 235, 189);
    border-bottom: 3px solid rgb(184, 235, 189);
}

.CajitaTituloTexto2 h1{
    font-family: 'Montserrat', sans-serif;
}
.CajitaTituloTexto2 ul{
    font-family: 'Montserrat', sans-serif;
}


.TerceraSeccion-main{
    width: 100%;
}

.ContainerTerceraSeccion{
    width: 100%;
    display: flex;
    justify-self: center;
}

.TerceraSeccion-main h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    padding: 1.5em;
    background-color: rgb(60, 114, 100);
    margin-top: 1em;
}

.Contenedorasd{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin-bottom: 5em;

}

.Benefit-1 i{
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: rgb(92, 139, 98);
    padding: 1em;
}

.Benefit-1 i:hover{
    font-size: 3.2em;
    transition: 0.5s;
    color: rgb(54, 110, 61);
    padding: 0.8em;
    cursor: pointer;
}

.Benefit-2 i:hover{
    font-size: 3.2em;
    transition: 0.5s;
    color: rgb(54, 110, 61);
    padding: 0.8em;
    cursor: pointer;
}


.Benefit-3 i:hover{
    font-size: 3.2em;
    transition: 0.5s;
    color: rgb(54, 110, 61);
    padding: 0.8em;
    cursor: pointer;
}


.Benefit-2 i{
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: rgb(92, 139, 98);
    padding: 1em;
}

.Benefit-3 i{
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: rgb(92, 139, 98);
    padding: 1em;
}

.Benefit-1 h2{
    width: 100%;
    text-align: center;
    color: rgb(118, 121, 119);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

.Benefit-2 h2{
    width: 100%;
    text-align: center;
    color: rgb(118, 121, 119);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

.Benefit-3 h2{
    width: 100%;
    text-align: center;
    color: rgb(118, 121, 119);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}