@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: rgb(178, 207, 159);
    padding: 2em;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    color: rgb(253, 253, 253);
}

.navbar-brand:hover{
    color: white;
}

.ContainerFooter{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(178, 207, 159);
}
.FatherFooter{
    width: 100%;
}
.HijoTituloFooter{
    width: 100%;

}
.HijoTituloFooter h3{
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    text-align: center;
}

.HijoListaFooter{
    display: flex;
    justify-content: center;
    width: 100%;

}
.HijoListaFooter ul{
    padding: 0;
}
.HijoListaFooter li{
    color: rgb(55, 77, 52);
    display: inline;
    padding: 1em;
    list-style: none;

}

.HijoCopyrightFooter{
    display: flex;
    justify-content: center;
}

.HijoCopyrightFooter p{
    border-top: 2px solid rgb(136, 168, 136);
    padding-top: 1em;
    color: rgb(55, 77, 52);
}


.PrimeraSeccion-main{
    margin-top: 0.6em;
}
.PadrePrimeraSeccion{
    display: flex;
    justify-content: center;
    width: 100%;
}

.HijoTituloTexto{
    display: flex;
    align-items: center;
    width: 50%;
    padding: 1em;
    background-color:  rgb(153, 184, 132);
}
.CajitaTituloTexto{

    padding: 2em;

}

.CajitaTituloTexto p{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.CajitaTituloTexto h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.HijoImagenes img{
    width: 100%;
}

























.SegundaSeccion-main{
    width: 100%;
    margin-top: 5em;
}

.ContainerSegundaSeccion{
    display: flex;
    justify-content: center;
    width: 100%;
}
.PadreSegundaSeccion{
    width: 50%;
}
.HijoImagenes2{
    display: flex;
    justify-content: center;
}
.HijoImagenes2 img{
    width: 80%;
}
.PadreSegundaSeccion2{
    width: 50%;
}

.CajitaTituloTexto2{
    padding: 1em;
    border-left: 3px solid rgb(184, 235, 189);
    border-bottom: 3px solid rgb(184, 235, 189);
}

.CajitaTituloTexto2 h1{
    font-family: 'Montserrat', sans-serif;
}
.CajitaTituloTexto2 ul{
    font-family: 'Montserrat', sans-serif;
}





.TerceraSeccion-main{
    width: 100%;
}

.ContainerTerceraSeccion{
    width: 100%;
    display: flex;
    justify-self: center;
}

.TerceraSeccion-main h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    padding: 1.5em;
    background-color: rgb(60, 114, 100);
    margin-top: 1em;
}

.Contenedorasd{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin-bottom: 5em;

}


.Lord-Icon-Div{
    display: flex;
    justify-content: center;
}

.Benefit-1 i:hover{
    font-size: 3.2em;
    transition: 0.5s;
    color: rgb(54, 110, 61);
    padding: 0.8em;
    cursor: pointer;
}

.Benefit-2 i:hover{
    font-size: 3.2em;
    transition: 0.5s;
    color: rgb(54, 110, 61);
    padding: 0.8em;
    cursor: pointer;
}


.Benefit-3 i:hover{
    font-size: 3.2em;
    transition: 0.5s;
    color: rgb(54, 110, 61);
    padding: 0.8em;
    cursor: pointer;
}


.Benefit-2 i{
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: rgb(92, 139, 98);
    padding: 1em;
}

.Benefit-3 i{
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: rgb(92, 139, 98);
    padding: 1em;
}

.Benefit-1 h2{
    width: 100%;
    text-align: center;
    color: rgb(118, 121, 119);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

.Benefit-2 h2{
    width: 100%;
    text-align: center;
    color: rgb(118, 121, 119);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

.Benefit-3 h2{
    width: 100%;
    text-align: center;
    color: rgb(118, 121, 119);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}


.CuartaSeccion-main{
    width: 100%;
}
.Father-vision-mission{
    display: flex;
    justify-content: center;
    width: 100%;
}

.Hijo-vision-mission h2{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 2em;
}
.Ajuste-img{
    display: flex;
    justify-content: center;
    width: 100%;
}
.Ajuste-img img{
    width: 60%;
}

.Cards-information{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%;
}

.card-title{
    font-family: 'Montserrat', sans-serif;
}
.card-text{
    font-family: 'Montserrat', sans-serif;
    width: 60%;
}

.Cards-information2{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
}

.Seccion-about{
    width: 100%;
}
.Father-aboutus{
    display: flex;
    justify-content: center;
    width: 100%;
}

.Container-Banner-Photo{
    width: 100%;
}
.Padre-Banner-Photo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Padre-Banner-Photo img{
    margin-top: 1em;
    width: 85%;
}

.Padre-Titulo-About{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2em;
    margin-left: 0;
}
.Padre-Titulo-About h1{
    font-family: 'Montserrat', sans-serif;
}

.Container-Cards-About{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Container-Cards-About{
    padding: 1em;

}
.card-body h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.card-body p{
    display: flex;
    justify-content: center;
    width: 100%;

}
.card{
    margin: 1em;
}
lord-icon{
    width: 100%;
    text-align: center;
}

.Container-Services{
    width: 100%;
}

.Padre-Services{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4em;
    margin-bottom: 4em;
}
.Our-Services{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    
}
.border-line{
    
}
.Service1{
    margin: 1em;
}
.Service2{
    margin: 1em;
}
.Service3{
    margin: 1em;
}

.Service1 h3{
    font-size: 27px;
    text-align: center;
}
.Service2 h3{
    font-size: 27px;
    text-align: center;
}
.Service3 h3{
    font-size: 27px;
    text-align: center;
}
.Service-Text{
    display: flex;
    justify-content: center;
    width: 100%;
}
.Service-Text p{
    text-align: center;
    width: 70%;
    font-size: 15px;
}
.Service-Icon{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
.Service-Icon i{
    background-color: rgb(95, 160, 104);
    font-size: 2em;
    color: white;
    padding: 1em;
    border-radius: 200px;
}